<footer class="text-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="flex-column">
                    <div class="row" >
                        <a >
                            <img src="../../../assets/spylogo.png" alt="logo">
                        </a>
                    </div>  
                    <div class="row">
                        <h4>Follow Me On</h4>
                    </div>                  
                    <div class="row justify-content-center align-items-center logo-box">
                        <div class="col-md-1">
                            <a ><i class="pi pi-facebook" style="font-size: 3rem"></i></a>
                        </div>
                        <div class="col-md-1">
                            <a ><i class="pi pi-whatsapp" style="font-size: 3rem"></i></a>
                        </div>
                        <div class="col-md-1">
                            <a ><i class="pi pi-twitter" style="font-size: 3rem"></i></a>            
                        </div>
                        <div class="col-md-1">
                            <a ><i class="pi pi-github" style="font-size: 3rem"></i></a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text">
                Copyright &copy; All rights reserved</p>
        </div>
    </div>
</footer>