<main>
    <div class="container-fluid">
        <div class="row section-height">
            <div class="col-md-6">
                <section class="d-block">
                    <div class="row">
                        <p class="introheading">Hello!</p>
                        <p>I am Abdul Rehman aka Spydev</p>
                        <p>I am <span class="text-design">Full Stack Web Developer</span>.</p>
                        <p></p>
                    </div>
                  <div class="row">
                    <div class="col-md-3 mt-2">
                        <button class="btn" (onClick)="getCV()">
                            Get CV
                        </button>
                    </div>
                    <div class="col-md-3 mt-2">
                        <button class="btn">
                           Hire Me
                        </button>
                    </div>
                  </div>
                </section>
            </div>
            <div class="col-md-6  d-none d-md-block image-box">
                <img class="image" src="{{srcUrl}}" alt="language images" width="150px" height="150px;">
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <img src="../../../assets/intro.png" alt="intro image" height="600px">
            </div>
            <div class="col-md-6">
                <section class="section2-height">
                    <div class="intro">
                        <div class="row">
                            <h2>Let Introduce Myself</h2>
                        </div>
                        <div class="row">
                            <p class="intropara text-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloribus veniam cum nisi iste. Consequatur itaque iste nemo! Magnam at maxime impedit, repellendus maiores iure, aliquam, quisquam consectetur sunt odit error ratione ut facilis. Vitae facere perspiciatis laboriosam nulla sequi.
                            </p>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button class="btn">
                                Get CV
                            </button>
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section>
                    <div class="row text-center">
                        <h2>Services offer</h2>
                        <pot-services></pot-services>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
</main>