.section-height{
   height: 600px;
}
.image-box{
    margin: 0;
    padding: 0;
    position: relative;
    top:10px;
    height: 500px;
    background-image: url('../../../assets/hand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.image{
    position: absolute;
    top:100px;
    left:30%;
}
.section2-height{
    height: 660px;
}
.intro{
    position: relative;
    top: 100px;
}
.introheading{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Sevillana', cursive;
}
p{
    font-size: 60px;
    font-family: 'Sevillana', cursive;
    font-weight: 600;
}
.detail{
    font-size: 40px;
    font-family: '', cursive;
    font-weight: 600;
}
.intropara{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}
.text-design{
    background-image: linear-gradient( to right,#0070BA ,#E44D26 ,#E2C430 );
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}


.btn{
    width:150px;
    height: 55px;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #7651EA;
}
.btn:hover{
    color:#000000;
}
h2{
    color:#000000;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}