<main>
    <div class="container-fluid">
        <div class="row section-height">
            <section class="d-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mt-5">
                            <div class="col-md-8 offset-1">
                                <p class="introheading">Hello! I am</p>
                                <p>Abdul Rehman</p>
                                <p class="detail">I am <span class="text-design">Full Stack Web Developer</span>.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 offset-1 mt-2">
                                <button class="btn" (onClick)="getCV()">
                                    Get CV
                                </button>
                            </div>
                            <div class="col-md-3  offset-1 mt-2">
                                <button class="btn">
                                    Hire Me
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  d-none d-md-block image-box">
                        <img class="image" src="{{srcUrl}}" alt="language images" width="150px" height="150px;">
                    </div>
                </div>
            </section>
        </div>
        <div class="row section2-height" data-aos="zoom-in-up" data-aos-duration="2000">
            <div class="col-md-6 d-none d-md-block">
                <img src="../../../assets/intro.png" alt="intro image" height="600px">
            </div>
            <div class="col-md-6 d-md-block">
                <div class="intro">
                    <div class="row">
                        <h2>About me</h2>
                        <p class="intropara text-start">
                            My name is Abdul Rehman. I am a Full Stack Web Developer.
                            I'm passionate about my career and I believe in keeping myself updated with new
                            Frontend trends and techniques, So that I can help my customers by providing them
                            with the best possible solutions.
                            I use the best website development tools and frameworks to create quality websites.
                            So if you're looking for someone who can make your vision come to life, you've come
                            to the right place!
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn">
                            Get CV
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section2-height" data-aos="zoom-in-right" data-aos-duration="2000">
            <h2 class="text-center">Services Offer</h2>
            <p class="text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis eveniet sint, nostrum libero ab enim. Optio qui facere aliquid debitis, voluptatibus saepe, corrupti animi tempora, unde exercitationem assumenda! Rem!
            </p>
            <pot-services></pot-services>
        </div>
    </div>
</main>